@import "../../assets/css/colors.scss";

.footer {
  height: 370px;
  display: flex;
  background-color: $white;
  justify-content: center;
  padding: 30px;
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: $white;
    width: 80%;

    .left-side {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      img {
        object-fit: contain;
        max-width: 150px;
        height: 45px;
      }
    }

    .right-side {
      display: flex;
      div {
        display: flex;
        flex-direction: column;
        margin-right: 75px;
      }
      div > a {
        margin-bottom: 15px;
        color: $black;
        opacity: 0.65;
        cursor: pointer;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    color: $black;

    .content {
      display: flex;
      flex-direction: column;
    }
    .upper-part {
      display: flex;
      margin-bottom: 40px;
    }

    .title {
      opacity: 0.65;
      font-size: 14px;
    }

    .description {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
