@import "../../assets/css/colors.scss";

.input {
  width: 350px;
  border-radius: 8px;
  height: 45px;
  background-color: $lightGrey;

  .ant-input-wrapper,
  .ant-input-group-addon {
    background-color: $lightGrey;
    border-radius: 8px;

    input {
      height: 45px;
    }
  }

  .ant-input-search-button {
    border-radius: 8px !important;
    background: $primary;
    width: 45px;
    height: 45px;

    svg {
      fill: $white;
    }
  }
}
